header {
    max-width: 100%;
    height: 72px;

    padding: 0 75px;

    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: space-between;
    background-color: aquamarine;

    .navbar {
        display: flex;

        .logo {
            width: 250px;
            height: 60px;
            background-image: url('logo.png');
            background-size: contain;
            background-repeat: no-repeat;
            cursor: pointer;

        }

        nav {
            padding: 0 45px;
            display: flex;
            align-items: center;
            column-gap: 25px;

            ul {
                font-size: 16px;
                font-weight: 500;
                color: #F17E5B;
                cursor: pointer;
            
            }
        }
    }

    .login-register {
        button {
            width: 128px;
            height: 40px;
            text-align: center;
            border: 2px solid  #F17E5B;
            border-radius: 6px;
        }

        .login-button {
            color:#F17E5B;
        }
        
        .register-button {
            margin-left: 15px;
            background-color: #F17E5B;
            color: #FFFFFF;
        }
    }


}